<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="/images/icon.jpg" type="image/gif" sizes="16x16">
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="/images/logo.png" alt="">
            </div>
            <div class="navbar">
                <a href="/">Home</a>
                <a href="/find">Find</a>
                <div class="dropdown">
                    <button class="dropbtn">Current Weather
                    </button>
                    <div class="dropdown-content">
                        <li><a href="/currentwind">Current Wind</a></li>
                        <a href="/currentdetailedweather">Detailed Weather</a>
                        <a href="/currentcity">City Details</a>
                        <a href="/google">Geo Weather</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="welcome-text">

            <fieldset>
                <h1 class="mainWelcomeText"> Welcome to the open weather app!!! </h1>
                <p><% if(error !== null){ %>
                    <p><%= error %></p>
                    <% } %></p>
                <a href="/find"><button class="myButton"> Find </button></a>
            </fieldset>
        </div>
    </header>
    <footer>
        <p>Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>, Eoghan Canty</p>
            <!-- <img src="/images/insta.png"> -->
    </footer>
</body>

</html>