*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  padding-bottom:58px;
  min-height: 100vh;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
header{
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("/images/mainBackground.jpg");
    height: 150vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.navbar {
    float: right;
    list-style: none;
    margin-top: 30px;
   overflow: hidden;
   background-color: #333;
 }
 .navbar a {
   float: left;
   font-size: 16px;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 
 .dropdown {
   float: left;
   overflow: hidden;
 }
 
 .dropdown .dropbtn {
   font-size: 16px;  
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
 }
 
 .navbar a:hover, .dropdown:hover .dropbtn {
   background-color: #fff;
   color: black;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 .dropdown-content a {
   float: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
 }
 
 .dropdown-content a:hover {
   background-color: #ddd;
 }
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
.logo img{
    width: 100px;
    float: left;
    height: auto;
}
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}
.welcome-text h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}
.welcome-div{
  position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}
.for-error-text{
  background-color: white;
  border: 3px solid black;
  font-weight: bold;
}
.mainWelcomeText-error{
    background-color: white;
    border: 3px solid black;
    font-size: 50px;
    text-transform: uppercase ;
}
.error-images{
}
.ghost-button{
    background-color: lightskyblue;
    color: black; 
    border: 2px solid black;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .ghost-button:hover{
    background-color: darkblue;
    color: white;
  }
  .myButton{
    background-color: lightskyblue;
    color: black; 
    border: 2px solid black;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .myButton:hover {
    background-color: darkblue;
    color: white;
  }
  #error-result-text{
    color:red;
    font-size: 50px;
  }
  footer{
  text-align:center;
	background-color:black;
  color:white;
  font-weight: bold;
	padding:20px;
	position:absolute;
  bottom:0;
  height: 45px;
	width:97.35%;
  }